/* Botón */

.button.is-purple {
    background-color: var(--main-bg-color);
    color: var(--main-text-color-button);
    width: 100%;
    font-size: 1.1rem;
    font-weight: bolder;
    letter-spacing: 0.02cm;
    border: none;
    outline: none;
}

button.is-redounded-main {
    color: rgba(0,0,0,0.5);
    width: 100%;
    border: none;
    font-weight: bolder;
}

button.is-redounded-main:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
    border: solid .05px rgba(0, 0, 0, 0.164);
}

/* Boton loguear y registrarse hover */

.section-login-clic button:hover,
.section-register-clic button:hover {
    color: rgb(133, 133, 133);
    background: rgb(243, 243, 243);
}

.button.is-purple:hover {
    background-color: rgb(124, 56, 136);
}